<form #f="ngForm">
    <div class="panel-body filters-panel">
            <div class="form-group">
                <label for="from">From: </label>
                <input ngModel name="from" id="from"/>
                <label for="to">To: </label>
                <input ngModel name="to" id="from"/>
            </div>
            <div class="form-group">
                <label for="from">Category: </label>
                <select ngModel name="category" id="category" *ngIf="categoryData">
                    <option value="0" selected>All Categories</option>
                    <option [value]="categoryData.CategoryId">{{ categoryData.Name }}</option>
                </select>
            </div>

    </div>
</form>
{{ f.value | json}}