.date-label {
    display: inline-block;
}

date-picker {
    display: inline-block;
}

.date-container {
    display: inline-block;
}

.to-date-field {
    margin-left: 20px;
}

/* overriding datepicker attributes */
.datepicker-actions__input {
    font-size: 20px;
}