.audit-panel  {
    .audit-figure {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .audit-label {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }
}