@import "../../../../styles/base/_variables.scss";

.audit-panel  {
    opacity: 0.3;
    color: $white;
    &:hover {
        cursor: pointer;
        opacity: 1.0;
    }
    
    .audit-figure {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .audit-label {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }
}
.green { background-color: $green; }
.blue { background-color: $blue; }
.red {background-color: $red;}
.yellow { background-color: $yellow;}
.panel{
    .panel-body {
        background-color: inherit;
    }
}

.active { opacity: 1.0}